/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 100px;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.product-form {
    min-width: 50%;
    flex-basis: 1;
}

.card-form {
    min-width: 50%;
    flex-basis: 1;
}